<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Programa de Soma</title>
    <script>
      function validateNumberInput(event) {
        const char = String.fromCharCode(event.which);
        if (!/[0-9,]/.test(char)) {
          event.preventDefault();
        }
      }

      function enviarFormulario(event) {
        event.preventDefault(); // Previne o comportamento padrão do formulário
        const valor1 = document.getElementById("valor1").value;
        const valor2 = document.getElementById("valor2").value;

        fetch("/calcular", {
          // Verifique se a URL é '/calcular'
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ valor1: valor1, valor2: valor2 }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("resultado").innerText =
              "Resultado: " + data.resultado;
          })
          .catch((error) => {
            console.error("Erro:", error);
          });
      }

      function limparFormulario() {
        document.getElementById("valor1").value = "";
        document.getElementById("valor2").value = "";
        document.getElementById("resultado").innerText = "";
      }
    </script>
  </head>
  <body>
    <div style="max-width: 400px; margin: auto; padding: 20px">
      <h1>Programa de Soma</h1>
      <form id="formulario" onsubmit="enviarFormulario(event)">
        <div>
          <label for="valor1">Valor 1:</label>
          <input
            type="text"
            id="valor1"
            name="valor1"
            placeholder="Digite um número"
            required
            onkeypress="validateNumberInput(event)"
          />
        </div>
        <div>
          <label for="valor2">Valor 2:</label>
          <input
            type="text"
            id="valor2"
            name="valor2"
            placeholder="Digite outro número"
            required
            onkeypress="validateNumberInput(event)"
          />
        </div>
        <div>
          <button type="submit">Somar</button>
          <button type="button" onclick="limparFormulario()">Limpar</button>
        </div>
      </form>
      <h2 id="resultado">Resultado:</h2>
    </div>
  </body>
</html>
